body{
    margin:0;
    text-align:center;
    font-family: 'Arima', cursive;
    font-size: larger;
    font-weight: bolder;
    color: #40514E;
    
}
.top-container{
    
    position:relative;
    padding-top:100px;
    background-color: rgb(25, 185, 239);
}
h1{
    margin:0;
    font-family: 'Pattaya', sans-serif;
    
}
.bottom-cloud{
    position:absolute;
    margin-left:-560px;
}
.top-cloud{
    position:relative;
    left:200px;
}
.photo{
    margin-top: 100px;
    
    width: 550px;
    height: 550px;
    border-radius: 50%;
    ;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.comp{
    width: 25%;
    float:left;
    margin-right:30px;
}
.C{
    width: 25%;
    float:left;
    margin-right:30px;
}
.CW{
    width: 25%;
    float:left;
    margin-right:30px;
}
h3{
    color: rgb(45, 142, 202);
    font-weight: bolder;
}
p{
    line-height: 2;
}
hr{
    border: dotted rgb(52, 50, 50) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Arima', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
    background-color: #66BFBF;
    margin-top: 100px;
    padding: 50px 0 20px;
}
a{
    color: #11999E;
    font-family: 'Arima', cursive;
    margin: 10px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.copyright{
    color:#EAF6F6;
    font-size:0.75rem;
}